<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895900676673-01cbmch043qur5arrdfe42bnabot8ia5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895900676673-01cbmch043qur5arrdfe42bnabot8ia5</string>
	<key>API_KEY</key>
	<string>AIzaSyBEQq64Bbq5cZ0kp-9t2IMXcP1l12dWOH8</string>
	<key>GCM_SENDER_ID</key>
	<string>895900676673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.browser.lighting.show.school</string>
	<key>PROJECT_ID</key>
	<string>lighting-browser-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>lighting-browser-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895900676673:ios:dc259ab7bf046cadc0ccc0</string>
</dict>
</plist>